<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: headerFragment ('Product Management Application')">

<body>
<th:block th:replace="fragments/head :: header"></th:block>
<br>
<div class="container col-md-5">
    <div class="card">
        <div class="card-body">
            <form th:action="${productDto.id != null ? 'update' : 'insert'}" method="post">
                <caption>
                    <h2>
                        <span th:if="${productDto != null}">Edit product</span>
                        <span th:if="${productDto == null}">Add New product</span>
                    </h2>
                </caption>

                <input type="hidden" name="id" th:value="${productDto.id != 0} ? ${productDto.id} : ''"/>
              


                <fieldset class="form-group">
                    <label> Product name </label> <input type="text"
                                                         th:value="${productDto != null} ? ${productDto.name} : ''"
                                                         class="form-control"
                                                         name="name" required="required">
                </fieldset>

                <fieldset class="form-group">
                    <label>Product description</label> <input type="text"
                                                              th:value="${productDto != null} ? ${productDto.description} : ''"
                                                              class="form-control"
                                                              name="description">
                </fieldset>
                <fieldset class="form-group">
                    <label>Product price</label> <input type="number"
                                                        th:value="${productDto != null} ? ${productDto.price} : ''"
                                                        class="form-control"
                                                        name="price">
                </fieldset>
                <fieldset class="form-group">
                    <label>Product quantity stock</label> <input type="number"
                                                                 th:value="${productDto != null} ? ${productDto.quantityInStock} : ''"
                                                                 class="form-control"
                                                                 name="quantityInStock">
                </fieldset>
                <button type="submit" class="btn btn-success">Save</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>